* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90px;
  background-color: rgb(255, 255, 255);
}
header .sellingContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
header .sellingContainer .sellingText p {
  font-weight: 900;
  font-size: 40px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 48px;
  text-decoration: none;
  transform: none;
  letter-spacing: 0;
}
header .sellingContainer .sellingText p span {
  font-weight: 900;
  font-size: 40px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 48px;
  text-decoration: none;
  transform: none;
  color: rgb(241, 104, 33);
}
header .sellingContainer .sellingList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .sellingContainer .sellingList ul {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
header .sellingContainer .sellingList ul a {
  text-decoration: none;
}
header .sellingContainer .sellingList ul a li {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 27.2px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
  color: black;
}
header .sellingContainer .sellingList ul a li:hover {
  color: #F69A21;
  cursor: pointer;
}
header .sellingContainer .dropdown {
  display: none;
}

@media screen and (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
  header .sellingContainer {
    flex-wrap: wrap;
  }
  header .sellingContainer .sellingList {
    display: none;
  }
  header .sellingContainer .dropdown {
    display: block;
  }
  header .sellingContainer .dropdown-menu a {
    text-decoration: none;
  }
  header .sellingContainer .dropdown-menu a li {
    list-style: none;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 27.2px;
    text-decoration: none;
    transform: none;
    font-family: Muli;
    letter-spacing: 0;
    color: black;
  }
}
#sellingPhoto {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-image: url(/assets/img/hero_2\ \(1\).jpg);
}
#sellingPhoto .sellingMain {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  min-height: 600px;
}
#sellingPhoto .sellingMain h1 {
  font-weight: 900;
  font-size: 80px;
  font-style: normal;
  color: rgb(255, 255, 255);
  line-height: 96px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#sellingPhoto .sellingMain p {
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  color: rgb(255, 255, 255);
  line-height: 30px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
  width: 50%;
}
#sellingPhoto .sellingMain .twoButton {
  padding-top: 10px;
  display: flex;
  align-items: start;
  justify-content: center;
  background-position: center;
  flex-wrap: wrap;
  gap: 5px;
}
#sellingPhoto .sellingMain .twoButton button {
  width: 160px;
  height: 50px;
  background-color: transparent;
  border: none;
  border: 2px solid white;
  font-weight: 900;
  font-size: 12px;
  font-style: normal;
  color: rgb(255, 255, 255);
  line-height: 18px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#sellingPhoto .sellingMain .twoButton button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
#sellingPhoto .sellingMain .twoButton .btnClub {
  width: 180px;
  height: 50px;
  background-color: white;
  border: none;
  border: 2px solid white;
  font-weight: 900;
  font-size: 12px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 18px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#sellingPhoto .sellingMain .twoButton .btnClub:hover {
  background-color: transparent;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #sellingPhoto .sellingMain h1 {
    font-size: 20px;
  }
}
#productsMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#productsMain {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 700px;
  flex-wrap: wrap;
}
#productsMain .productsTxt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  min-height: 150px;
  padding-top: 10px;
}
#productsMain .productsTxt h3 {
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  color: rgb(173, 181, 189);
  line-height: 15.6px;
  text-decoration: none;
  transform: uppercase;
  font-family: Muli;
  letter-spacing: 2.6px;
}
#productsMain .productsTxt h1 {
  font-weight: 900;
  font-size: 40px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 48px;
  text-decoration: none;
  transform: uppercase;
  font-family: Muli;
  letter-spacing: 0px;
}
#productsMain .productsTxt p {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: rgb(173, 181, 189);
  line-height: 27.2px;
  text-decoration: none;
  transform: uppercase;
  font-family: Muli;
  letter-spacing: 2.6px;
  width: 60%;
}
#productsMain #products {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#productsMain #products .myDiv {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 10px;
  gap: 5px;
}
#productsMain #products .myDiv img {
  width: 90%;
  padding-left: 10px;
}
#productsMain #products .myDiv h1 {
  font-size: 25px;
  font-weight: 500;
  color: #F69A21;
}
#productsMain #products .myDiv p {
  font-size: 16px;
}
#productsMain #products .myDiv .productsButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#productsMain #products .myDiv .productsButton button {
  width: 100px;
  height: 40px;
  border: none;
  font-size: 13px;
  font-weight: 800;
  background-color: rgb(180, 176, 176);
}
#productsMain #products .myDiv .productsButton button:hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid grey;
}
#productsMain #products .myDiv .productsButton .proButton {
  width: 100px;
  height: 40px;
  border: none;
  font-size: 13px;
  font-weight: 800;
  background-color: transparent;
  border: 2px solid gray;
}
#productsMain #products .myDiv .productsButton .proButton:hover {
  background-color: grey;
}

@media screen and (max-width: 800px) {
  #productsMain {
    flex-wrap: wrap;
  }
  #productsMain #products {
    flex-wrap: wrap;
  }
  #productsMain #products .myDiv {
    flex-wrap: wrap;
  }
}
#merchantCompany {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#merchantCompany .merchantCompanyText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  min-height: 500px;
}
#merchantCompany .merchantCompanyText .merchanttxt {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  padding-left: 20px;
  background-color: #46DDB0;
}
#merchantCompany .merchantCompanyText img {
  width: 100%;
}
#merchantCompany .merchantCompanyText h3 {
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  color: rgb(173, 181, 189);
  line-height: 16px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 2.6px;
}
#merchantCompany .merchantCompanyText h1 {
  font-weight: 900;
  font-size: 40px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 48px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#merchantCompany .merchantCompanyText p {
  width: 55%;
  font-weight: 300;
  font-size: 20px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 30px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#merchantCompany .merchantCompanyText button {
  width: 150px;
  height: 50px;
  background: black;
  border: none;
  font-weight: 900;
  font-size: 12px;
  font-style: normal;
  color: rgb(255, 255, 255);
  line-height: 48px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}

@media screen and (max-width: 600px) {
  #merchantCompany .merchantCompanyText h1 {
    font-size: 30px;
  }
}
#leaderShip {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#leaderShip .leaderText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 200px;
}
#leaderShip .leaderText h1 {
  font-weight: 900;
  font-size: 40px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 48px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#leaderShip .leaderText p {
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  color: rgb(173, 181, 189);
  line-height: 15.6px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#leaderShip .leaderShipText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 500px;
  gap: 10px;
}
#leaderShip .leaderShipText img {
  width: 80%;
}
#leaderShip .leaderShipText h3 {
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  color: rgb(204, 204, 204);
  line-height: 20.4px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#leaderShip .leaderShipText h1 {
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  color: rgb(128, 128, 128);
  line-height: 21.6px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#leaderShip .leaderShipText p {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: rgb(128, 128, 128);
  line-height: 27.2px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#leaderShip .leaderShipText .leaderShipIconS {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
#leaderShip .leaderShipText .leaderShipIconS i {
  width: 100px;
  height: 30px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  background-color: #707070;
  padding-top: 7px;
}
#leaderShip .leaderShipText .leaderShipIconS i:hover {
  color: rgb(255, 255, 255);
  background-color: #2B2B2B;
  cursor: pointer;
}

#ourServices {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}
#ourServices .ourServicesTxt {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 170px;
}
#ourServices .ourServicesTxt h1 {
  font-weight: 900;
  font-size: 40px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 48px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#ourServices .ourServicesTxt p {
  font-weight: 700;
  font-size: 13px;
  font-style: normal;
  color: rgb(173, 181, 189);
  line-height: 15.6px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#ourServices .ourServicesTextMain {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 15px;
}
#ourServices .ourServicesTextMain i {
  color: rgb(241, 104, 33);
  font-size: 40px;
}
#ourServices .ourServicesTextMain .ourServicesText {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  min-height: 200px;
}
#ourServices .ourServicesTextMain .ourServicesText h1 {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: rgb(128, 128, 128);
  line-height: 24px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#ourServices .ourServicesTextMain .ourServicesText p {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: rgb(128, 128, 128);
  line-height: 27.2px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
#ourServices .ourServicesTextMain .ourServicesText button {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: rgb(241, 104, 33);
  line-height: 27.2px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
  border: none;
  background-color: transparent;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  padding-top: 10px;
}
footer .aboutUsText {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
footer .aboutUsText button {
  width: 130px;
  height: 40px;
  background-color: black;
  color: white;
  font-weight: 900;
  font-size: 12px;
  border: none;
}
footer .aboutUsText button:hover {
  border: 2px solid black;
  background-color: transparent;
  color: black;
  cursor: pointer;
}
footer .aboutUsText img {
  width: 100%;
}
footer .aboutUsText h1 {
  font-weight: 900;
  font-size: 16px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 19.2px;
  text-decoration: none;
  transform: uppercase;
  font-family: Muli;
  letter-spacing: 0;
}
footer .aboutUsText p {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: rgb(115, 115, 115);
  line-height: 27.2px;
  text-decoration: none;
  transform: uppercase;
  font-family: Muli;
  letter-spacing: 0;
}
footer .aboutUsText h3 {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  color: rgb(0, 0, 0);
  line-height: 24px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
footer .aboutUsText .aboutUsIcons {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 25px;
}
footer .aboutUsText .aboutUsIcons i {
  color: #707070;
}
footer .footerText {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  flex-wrap: wrap;
}
footer .footerText h1 {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: rgb(115, 115, 115);
  line-height: 27.2px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
footer .footerText h1 span {
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: rgb(143, 143, 143);
  line-height: 27.2px;
  text-decoration: none;
  transform: none;
  font-family: Muli;
  letter-spacing: 0;
}
footer .footerText h1 span:hover {
  font-style: normal;
  color: rgb(82, 82, 82);
  cursor: pointer;
}