



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90px;
    background-color: rgb(255, 255, 255);

    .sellingContainer {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;

        .sellingText {
            p {
                font-weight: 900;
                font-size: 40px;
                font-style: normal;
                color: rgb(0, 0, 0);
                line-height: 48px;
                ;
                text-decoration: none;
                transform: none;
                letter-spacing: 0;

                span {
                    font-weight: 900;
                    font-size: 40px;
                    font-style: normal;
                    color: rgb(0, 0, 0);
                    line-height: 48px;
                    ;
                    text-decoration: none;
                    transform: none;
                    color: rgb(241, 104, 33)
                }
            }
        }

        .sellingList {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            ul {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 20px;

                a {
                    text-decoration: none;

                    li {
                        list-style: none;
                        font-weight: 400;
                        font-size: 16px;
                        font-style: normal;

                        line-height: 27.2px;
                        text-decoration: none;
                        transform: none;
                        font-family: Muli;
                        letter-spacing: 0;
                        color: black;
                    }
                }
            }
        }

        .dropdown {
            display: none;
        }
    }
}

@media screen and (max-width: 800px) {
    header {
        .sellingContainer {
            .sellingList {
                display: none;


            }

            .dropdown {
                display: block;
            }

            .dropdown-menu {

                a {
                    text-decoration: none;

                    li {
                        list-style: none;
                        font-weight: 400;
                        font-size: 16px;
                        font-style: normal;

                        line-height: 27.2px;
                        text-decoration: none;
                        transform: none;
                        font-family: Muli;
                        letter-spacing: 0;
                        color: black;
                    }
                }
            }
        }
    }
}


#myFormMain{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
min-height: 500px;
#myForm{
    width: 60%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 10px;
border: 3px solid rgb(241, 104, 33);
border-radius: 30px;
min-height: 400px;
h1{
    font-size: 30px;
    font-weight: 600;
}
input{
    width: 300px;
    height: 40px;
    border: none;
    border: 1px solid grey;
    border-radius: 20px;
    padding-left: 10px;
}
button{
    width: 100px;
    height: 40px;
    border: none;
background-color: gray;
    border-radius: 20px;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
}
}


#sortSection{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .dropdown{

        min-height: 100px;
        .dropdown-menu{
            padding: 0 10px;
  button{
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
background-color: gray;
  }
         
        }
    }
    .searchMain{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100px;
        #searchInput{
            width: 200px;
            height: 40px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            border: none;
            border: 1px solid grey;
            font-size: 15px;
            font-weight: 700px;
            padding-left: 10px;
        }
        #searchButton{
            width: 70px;
            height: 40px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background-color: gray;
            border: none;
        }
    }
}

#tableMain{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    #tables{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

  
        background-color: rgb(199, 199, 199);
        .myDiv{
            width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        padding-left: 20px;
     
      td{
        width: 100%;
        display: flex;
        align-items: center;
        padding-top: 5px;
        img{
width: 30%;
        }
        button{
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 10px;
        background-color: rgb(241, 104, 33);
        }
        h1{
font-size: 20px;

        }
        p{
font-size: 20px;
        }
      }

        }
    }
}

